$header-font-family: "Bree Serif";
$body-font-family: "Open Sans";

.homeContainer {
  font-family: $body-font-family;
  height: 100vh;
  min-height: 850px; // allow scrolling so that timeline is available to be viewed and scrolled
  margin: -8px; // offset body margin

  display: grid;
  grid-template-areas:
  'nav'
  'main';
  grid-template-columns: 100vw;
  grid-template-rows: auto minmax(0, 1fr);
}
